* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: lightgrey;
  padding: 30px;
}

header.header {
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(127, 255, 212, 0.8),
      rgba(0, 0, 255, 0.8)
    ),
    url("img/medical_bg4.jpg");
  background-size: cover;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

main.container {
  text-align: center;
}

/* Style the submit button */
button.button {
  background-color: lightgray; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding for space around the text */
  border: none; /* Remove the default button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show a hand cursor on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add a box shadow */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

/* Hover effect */
button.button:hover {
  background-color: aquamarine; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Active (clicked) state */
button.button:active {
  transform: scale(0.95); /* Slightly reduce the button size on click */
  box-shadow: none; /* Remove the box shadow on click */
}

h1.bigspace {
  margin-bottom: 100px;
}
