* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: aqua;
}

main#main {
  padding: 20px;
  margin-bottom: 10px;
}

h1.pad {
  padding: 10px;
  margin: 10px;
}

.form_group {
  margin-bottom: 20px;
}

/* Style the submit button */
button.button {
  background-color: #32cd32; /* Background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding for space around the text */
  border: none; /* Remove the default button border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show a hand cursor on hover */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add a box shadow */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

/* Hover effect */
button.button:hover {
  background-color: #45a049; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

/* Active (clicked) state */
button.button:active {
  transform: scale(0.95); /* Slightly reduce the button size on click */
  box-shadow: none; /* Remove the box shadow on click */
}
